<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Coach</title>
</head>
<body>
     <!-- INICIO HEADER -->
     <header>
        <div class="miniHeader">
            <div class="logo">
                <img src="../../assets/img/logoCUK.png" alt="Logo C.U.K.">
                <h2>C.U.K. Score</h2>
            </div>
            <nav class="links">
                <a href="../../index.php">
                    <img src="../../assets/img/atras.png" alt="Boton para ir atras">
                </a>
                <a href="#">
                    <img src="../../assets/img/ayuda.png" alt="Boton de ayuda">
                </a>
            </nav>
        </div>
    </header>

      <!-- INICIO MAIN -->
      <main">
      <section class="contenedor">
          <div class="miniContenedor1">
              <img src="../../assets/img/poseKata1.svg" alt="Pose de kata">
              <img src="../../assets/img/poseKata2.svg" alt="Pose de kata">
          </div>
          <div class="miniContenedor2">
              <div class="usuarios">
                  <a href="../../index.php?c=participante&a=participante" class="miniUsuario">Participantes</a>
                  <a href="categoriaAdmin.php" class="miniUsuario">Torneos</a>
                  <a href="#" class="miniUsuario">Categorias</a>
              </div>
          </div>
      </section>

  <!-- INICIO FOOTER -->
  <footer></footer>



</body>
</html>