* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: url("../img/Fondo.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto Condensed';
    letter-spacing: 1px;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../font/RobotoCondensed-Bold.ttf);
}


/* HEADER */


/* Estilos para el icono del menu*/
.icono-menu {
    margin: 40px 50px;
    position: relative;
    z-index: 10000;
}

.icono-menu img {
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

/* Estilos para el contenedor del menu */

.cont-menu {
    background-color: #216fec;
    box-shadow: 2px 0px 5px 2px #0c326e;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    transition: all 0.5 ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    transition: all 1s;
}


.volver {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.volver img {
    min-width: 3em;
    filter: invert();
    transition: all 0.3 ease;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 10vh;
}

.logo img {
    max-width: 10em;
}

.logo h3 {
    color: white;
    font-size: 2em;
}

.volver img:hover {
    filter: none;
}

/* ESTILOS JS */

.active {
    transform: translate(-600px);
}

.opacity {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.invertido {
    filter: invert();
}

/* Estilos para el listado del menu */

.cont-menu ul {
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li a {
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    text-align: center;
}

.cont-menu ul li a:hover {
    background-color: #0098ff;
    color: rgb(42, 42, 42);
}


/* MAIN */

.home {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Estilos para el diseño de las tablas */
.formatoTablas {
    width: 80%;
}

.table-responsive {

    overflow: auto;
    max-height: 400px;
}

.formato {
    padding: 2.5em;
}

.nombreTabla {
    margin-bottom: 2em;
}

.nombreTabla h3 {
    font-size: 50px;
}


.opciones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* INICIO FORMULARIOS -- MAIN */
.formulario {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
    background-color: #E6E6E6;
    border: 2px solid #004aad;
    border-radius: 10px;
    max-width: 30em;
    min-height: 30em;
}

.form {
    margin-top: 5em;
}

.miniFormulario {
    max-width: 30em;
    margin-top: 0.5em;
    padding: 0.5em;
}


.nombreApp {
    color: royalblue;
    font-weight: bold;
}

.nombreForm h2 {
    font-size: 40px;
    margin-bottom: 0.5em;
    color: royalblue;
}

.formFooter,
.formFooterLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.formFooterLogin {
    margin-top: 5em;
}

.button {
    background-color: royalblue;
    color: white;
    border: none;
    width: 50%;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    transition: all 0.3 ease;
}

.button:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
}

.form-select {
    margin-bottom: 2em;
}



/* ESTILOS JS */

.visible {
    display: block;
}


.hidden {
    display: none;
}

/* INGRESAR PARTICIPANTES */



/* ESPECTADORES */
.boxParticipante {
    background-color: #e2eefd;
    border: #004aad solid 2px;
    text-transform: uppercase;
    text-align: center;
    margin: 2em;
    padding: 2%;
    width: 75vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.gridNombrePart {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridNombreKata {
    grid-area: 1 / 2 / 2 / 3;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridNombrePart,
.gridNombreKata {
    background-color: #0138a6;
    border: black solid 2px;
    font-size: 40px;
    color: white;
    margin: 10px;
}

.gridColorCint {
    grid-area: 1 / 3 / 2 / 4;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorCinturon {
    width: 27vh;
    height: 60px;
    border: black solid 2px;
    border-radius: 25px;
    background: linear-gradient(to right, #004aad 50%, #ff3131 50%);
}

.gridEscuelaNom {
    grid-area: 2 / 1 / 4 / 2;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridCajaPuntaje {
    grid-area: 2 / 2 / 4 / 3;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridCategoria {
    grid-area: 2 / 3 / 4 / 4;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cajaPuntaje {
    background-color: white;
    border: black solid 2px;
    font-size: 60px;
    padding: 1em;
}

/* VISTA PUNTUAR */
.wrapPuntuar {
    margin: 2em;
    background-color: #e2eefd;
    border: #004aad solid 2px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: min(100%, 100%);
    height: calc(100vh - 4px);
    box-sizing: border-box;
    text-transform: uppercase;
    /*GRID*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /*FIN GRID*/
}

.nombrePart,
.escuelaPart,
.categoriaPartPantallaPuntaje,
.sumarPuntos,
.puntosPart,
.restarPuntos,
.colorCintPantallaPuntaje,
.enviarPuntos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombrePart {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 15px 0 0 15px;
    border-top: 3px solid #004aad;
    border-left: 3px solid #004aad;
    border-bottom: 3px solid #004aad;
    margin-left: 1em;
}

.escuelaPart {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid #004aad;
}

.categoriaPartPantallaPuntaje {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    border-radius: 0 15px 15px 0;
    border-top: 3px solid #004aad;
    border-right: 3px solid #004aad;
    border-bottom: 3px solid #004aad;
    margin-right: 1em;
}

.nombrePart,
.escuelaPart,
.categoriaPartPantallaPuntaje {
    text-align: center;
    background-color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}

.nombrePart h2,
.escuelaPart h2,
.categoriaPartPantallaPuntaje h2 {
    font-size: 40px;
}

@media (max-width: 1023px){
    .nombrePart h2,
    .escuelaPart h2,
    .categoriaPartPantallaPuntaje h2 {
        font-size: 30px;
    } 
}

@media (max-width: 767px) {
    .nombrePart h2,
    .escuelaPart h2,
    .categoriaPartPantallaPuntaje h2 {
        font-size: 20px;
    } 

    .colorCinturon{
        width: 6em;
    }
}


.sumarPuntos {
    grid-area: 2 / 1 / 3 / 2;
}

.sumarPuntosBtn,
.restarPuntosBtn,
.enviarPuntosBtn {
    background: none;
    border: none;
}

.sumarPuntosBtn img,
.restarPuntosBtn img {
    max-width: 100%;
    display: block;
}

.puntosPart {
    grid-area: 2 / 2 / 3 / 3;
}

.puntos {
    width: fit-content;
    height: fit-content;
    padding: 3em;
    background-color: white;
    border: 2px solid #004aad;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.puntos h2 {
    font-size: 80px;
}

.restarPuntos {
    grid-area: 2 / 3 / 3 / 4;
}

.colorCintPantallaPuntaje {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
}

.enviarPuntos {
    grid-area: 3 / 2 / 4 / 3;
}

.enviarPuntosBtn {
    background-color: #004aad;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 40px;
    height: 80px;
    width: 200px;
}

.enviarPuntosBtn:hover,
.sumarPuntosBtn:hover,
.restarPuntosBtn:hover {
    transform: scale(0.95);
}

.enviarPuntosBtn,
.sumarPuntosBtn,
.restarPuntosBtn {
    transition: transform 0.3s ease;
}
/* FIN VISTA PUNTUAR */

/* MEDIA QUERYS */

@media (min-width: 1236px) {
    body {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    /* HEADER */

    .cont-menu {
        position: fixed;
        width: 15vw;
    }

    .active {
        transform: translate(0);
    }

    .icono-menu {
        visibility: hidden;
    }

    /* MAIN */

    .home {
        width: calc(100vw - 15vw);
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* FORMULARIO*/

    .formulario {

        margin-top: 5em;
    }
}

/* SELECCIONAR KATA */