* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: url("../img/Fondo.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto Condensed';
    letter-spacing: 1px;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../font/RobotoCondensed-Bold.ttf);
}


/* HEADER */


/* Estilos para el icono del menu*/
.icono-menu {
    margin: 40px 50px;
    position: relative;
    z-index: 10000;
}

.icono-menu img {
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

/* Estilos para el contenedor del menu */

.cont-menu {
    background-color: #216fec;
    box-shadow: 2px 0px 5px 2px #0c326e;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    transition: all 0.5 ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    transition: all 1s;
}


.volver {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.volver img {
    min-width: 3em;
    filter: invert();
    transition: all 0.3 ease;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 10vh;
}

.logo img {
    max-width: 10em;
}

.logo h3 {
    color: white;
    font-size: 2em;
}

.volver img:hover {
    filter: none;
}

/* ESTILOS JS */

.active {
    transform: translate(-600px);
}

.opacity {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.invertido {
    filter: invert();
}

/* Estilos para el listado del menu */

.cont-menu ul {
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li a {
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    text-align: center;
}

.cont-menu ul li a:hover {
    background-color: #0098ff;
    color: rgb(42, 42, 42);
}


/* MAIN */

.home {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Estilos para el diseño de las tablas */
.formatoTablas {
    width: 80%;

}

.table-responsive {
    overflow: auto;
    max-height: 400px;
}

.formato {
    padding: 2.5em;
}

.nombreTabla {
    margin-bottom: 2em;
}

.nombreTabla h3 {
    font-size: 50px;
}


.opciones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* INICIO FORMULARIOS -- MAIN */
.formulario {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: #E6E6E6;
    border-radius: 10px;
    max-width: 30em;
    min-height: 30em;
}

.form {
    margin-top: 5em;
}

.miniFormulario {
    max-width: 30em;
    margin-top: 0.5em;
    padding: 0.5em;
}


.nombreApp {
    color: royalblue;
    font-weight: bold;
}

.nombreForm h2 {
    font-size: 40px;
    margin-bottom: 0.5em;
    color: royalblue;
}

.formFooter,
.formFooterLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.formFooterLogin {
    margin-top: 5em;
}

.button {
    background-color: royalblue;
    color: white;
    border: none;
    width: 50%;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    transition: all 0.3 ease;
}

.button:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
}


/* ESTILOS JS */

.visible {
    display: block;
}


.hidden {
    display: none;
}

/* INGRESAR PARTICIPANTES */



/* ESPECTADORES */
.boxParticipante {
    background-color: #e2eefd;
    border: #004aad solid 2px;
    border-radius: 1%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5em;
    padding: 2%;
    width: 70em;
    height: 35em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div1 , .div2 {
    background-color: #0138a6;
    border: black solid 2px;
    font-size: 40px;
    color: white;
    margin: 10px;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorCinturon {
    width: 200px;
    height: 60px;
    border: black solid 2px;
    border-radius: 25px;
    background: linear-gradient(to right, #004aad 50%, #ff3131 50%);
}

.div4 {
    grid-area: 2 / 1 / 4 / 2;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div5 {
    grid-area: 2 / 2 / 4 / 3;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div6 {
    grid-area: 2 / 3 / 4 / 4;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cajaPuntaje {
    background-color: white;
    border: black solid 2px;
    font-size: 60px;
    padding: 1em;
}


/* MEDIA QUERYS */

@media (min-width: 1236px) {
    body {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    /* HEADER */

    .cont-menu {
        position: fixed;
        width: 15vw;
    }

    .active {
        transform: translate(0);
    }

    .icono-menu {
        visibility: hidden;
    }

    /* MAIN */

    .home {
        width: calc(100vw - 15vw);
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* FORMULARIO*/

    .formulario {
        margin-top: 5em;
    }
}