html,
body {
        background: url(../img/Fondo.jpg);
        font-family: 'Roboto Condensed';
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        letter-spacing: 1px;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../font/RobotoCondensed-Italic.ttf);
}

a {
    text-decoration: none;
    color: black;
}

/* INICIO HEADER */

.miniHeader {
    display: flex;
    background-color: #216fec;
    min-height: 6vw;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 0.3125rem;
    box-shadow: 0.5px 0.5px 7px 0.5px;
}

h2 {
    font-weight: 600;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    height: 6.25rem;
    margin-left: 0.625rem;
}

.links img {
    width: 2.8125rem;
    margin-right: 0.625rem;
}


/* INICIO MAIN */

.contenedor {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.miniContenedor1 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.miniContenedor1 img {
    max-height: 6.25rem;
    margin: 3.25rem;
}

.usuarios,
.usuariosNew {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.miniUsuario {
    min-width: 10.9375rem;
    padding: 1.25rem;
    border-radius: 1.2rem;
    background-color: #0356DD;
    font-size: 1.25rem;
    text-align: center;
    margin: 1.25rem;
    color: white;
    transition: transform 0.3s ease; 
}

.miniUsuario:hover {
    cursor: pointer;
    background-color: #0098ff;
    color: white;
    transform: scale(1.1);
}

/* INICIO FORMULARIOS -- MAIN */

.contenedorForms {
    display: flex;
    flex-flow: column;
    background-color: #f1f7fe;
    border: 2px solid #4287ef;
    border-radius: 1.25rem;
    margin-top: 4.25rem;
    margin-bottom: 3.125rem;
    max-width: 18.75rem;
    overflow: hidden;
}

form {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

form span {
    font-size: 1.6rem;
    font-weight: bolder;
    color: black;
}

form p {
    font-size: 1.1rem;
    color: black;
}

form .inputs {
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    margin: 1rem 0.5rem;
    border-radius: 8px;
    border-bottom: none;
    outline: 0;
}

form .inputs input {
    border: none;
    outline: none;
    padding: 8px 15px;
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.299);
    font-weight: 200;
}

form .inputs ::placeholder {
    color: black;
    font-weight: 500;
}

form .button {
    background-color: #4287ef;
    color: white;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    overflow: hidden;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

form .button:hover {
    background-color: #005ce6;
}

.footerForm {
    background-color: #e0ecfb;
    padding: 16px;
    font-size: 1rem;
    text-align: center;
}

.footerForm a {
    font-weight: bolder;
    color: #0066ff;
    transition: all 3s ease-in-out;
}

.footerForm a:hover {
    color: #005ce6;
}


/* INICIO DE TABLAS BOOTSTRAP -- MAIN */

.torneoMain {
    margin: auto;
    width: 50%; 
}

.miniTablas {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 3em;
}



.agregar {
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #0356DD;
    transition: all 0.4s ease;
}

.agregar:hover {
    background-color: #0098ff;
}

/* INICIO DE PUNTAJES DE JUECES */

.puntuacion {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}


.numero p {
    font-size: 3em;
    margin: 1em;
    border: none;
    background-color: transparent;
}

.botones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#div1-Puntaje {
    grid-area: 1 / 1 / 2 / 2;
}

#div2-Puntaje {
    grid-area: 1 / 2 / 2 / 3;
}

#div3-Puntaje {
    grid-area: 2 / 1 / 3 / 2;
}

#div4-Puntaje {
    grid-area: 2 / 2 / 3 / 3;
}


.botones-hijo1 img {
    max-width: 5em;
    transition: all 0.2s;
}

.botones-hijo1 img:hover,
.botones-hijo2:hover {
    filter: brightness(0) saturate(100%) invert(21%) sepia(84%) saturate(2285%) hue-rotate(206deg) brightness(103%) contrast(116%);
}

.botones-hijo1,
.botones-hijo2 {
    margin: 3em;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.botones-hijo2 {
    border: 2px solid black;
    border-radius: 15px;
    transition: all 0.2s;
}

.botones-hijo2 p {
    font-size: 20px;
    font-weight: 600;
}

.miniParticipante p,
.juez {
    color: white;
    font-weight: bold;
    padding: 10px;
}

/* PARTICIPANTE COACH -- MAIN*/

.contenedorPadre {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.torneoMainCoach {
    width: 40%; 
}


/* INICIO MEDIA QUERYS */

@media (min-width: 1024px) {

    /* INICIO MAIN */
    .miniContenedor1  {
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .miniContenedor1 img {
        max-height: 10rem;
    }

    /* INICIO FORMULARIOS -- MAIN */
    .contenedorForms {
        margin-top: 5rem;
    }

}