<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <title>Login</title>
  </head>

  <body>
    <!-- Inicio Header -->

    <header>
      <a href="#" class="logo">
        <img src="../../assets/img/logoCUK.png" alt="logo C.U.K." />
        <h2 class="nombreCUK">C.U.K. Score</h2>
      </a>
      <nav class="links">
        <a href="../../index.php">
          <img
            src="../../assets/img/inicio.png"
            alt="boton de inicio"
            width="40em"
          />
        </a>
      </nav>
    </header>

    <!-- Fin Header -->

    <!-- Inicio del formulario Login-->

    <section>
      <div class="centrar">
        <div class="contenedor-principal">
          <form action="/models/validarJuez.php" method="post">
            <h1><span>Inicia Sesion</span></h1>
            <p>C.U.K. Score nunca te pedira tu contraseña</p>
            <div class="inputs">
              <input
                type="password"
                placeholder="Contraseña"
                name="contraseñaUser"
              />
            </div>
            <input type="submit" values="Ingresar" class="button" />
          </form>
        </div>
      </div>
    </section>
    <!-- Fin del formulario Login-->
  </body>
</html>
