* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 125px;
    background: linear-gradient(to right, #631115, #bd0e0e,#979797, #006fab, #152938);
    z-index: 99999;
}