* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111B23;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  width: 100%;
  height: 100px;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
  z-index: 999;
  background-color: #2AD292;
  box-shadow: 2px 5px 7px #017c59;
}

.menu {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.menu a {
  color: black;
  transition: 0.5s;
}

.menu a:hover {
  transform: scale(1.1);
  color: white;
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
  0 -2px black, -1.41px -1.41px black, -2px 0 black,
  -1.41px 1.41px black, 0 2px black;
}

.menu li {
  list-style: none;
  margin: 10px 0;
}

.menu-icono {
  display: none;
}

#menu {
  display: none;
}

@media (max-width: 768px) {
  .menu {
      display: none;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background-color: #1fb27a;
  }

  .menu a {
      color: black;
  }

  .menu-icono {
      display: block;
  }

  #menu:checked~.menu {
      display: flex;
  }

  .servicios-hijo {
      display: none;
  }
}

/* BODY */
main {
  margin-top: 100px;
}

/* INICIO */
.pantallaDividida {
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
}

.derecha {
  display: none;
}

.derecha img {
  width: auto;
  height: fit-content
}

.izquierda {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color: #2AD292;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.izquierda h1 {
  font-size: 45px;
  font-weight: 800;
}

.izquierda p {
  font-size: 20px;
}

.tech {
  color: white;
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
      0 -2px black, -1.41px -1.41px black, -2px 0 black,
      -1.41px 1.41px black, 0 2px black;
}

.botonCont {
  border: 3.5px solid #fff;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  text-decoration: none;
  background-color: #111B23;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.5s;
}

.botonCont a {
  color: white;
}

.botonCont:hover {
  border: 5px solid #fff;
  transform: scale(1.1);
}

/* SERVICIOS */
.servicios {
  margin-bottom: 100px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicios img {
  width: 100%;
  height: 100%;
}

.servicios-hijo {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #37c294;
  margin-top: 10px;
  border-bottom: none;
}

.servicios-img {
  width: 30%;
  height: 400px;
  border-radius: 10px;
  background-color: #00642f;
}

.servicios-img h3 {
  text-align: center;
}

.imgserv {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 5px solid #111B23;
}

.carousel-item img {
  height: 400px;
  width: 450px;
  object-fit: fill;
  border: 2px solid black;
}

.carousel-item h5,
.carousel-item p {
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
      0 -2px black, -1.41px -1.41px black, -2px 0 black,
      -1.41px 1.41px black, 0 2px black;
  color: rgb(255, 255, 255);
}

/* NUESTRAS PAGINAS */
.nuestrasPaginas {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #2AD292;
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
}

.nuestrasPaginas h2 {
  font-weight: 700;
  text-transform: uppercase;
}

/* MIEMBROS */
.miembros {
  text-align: center;
  width: 100%;
  background-color: #2AD292;
  padding: 20px;
  margin-bottom: 100px;
}

.miembros-hijo {
  margin: 20px;
}

.equipo img {
  filter: drop-shadow(1px 5px 10px rgb(0, 0, 0));
  margin: 10px;
}

.equipo a {
  font-size: 20px;
  text-decoration: underline;
  color: rgb(195, 0, 255);
  font-weight: bold;
}

/* FOOTER */
footer {
  background-color: #2AD292;
  padding: 20px;
  text-align: center;
  box-shadow: 0px -5px 5px #288a69;
}

.redesSociales {
  display: flex;
  justify-content: space-evenly;
}

.redesSociales img {
  width: 30px;
  height: 30px;
}

@media (min-width: 1125px) {
  .pantallaDividida {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
  }

  .izquierda {
      grid-area: 1 / 1 / 2 / 2;
      gap: 20px;
  }

  .izquierda h1 {
      font-size: 100px;
  }

  .izquierda p {
      font-size: 30px;
  }

  .derecha {
      display: block;
      grid-area: 1 / 2 / 2 / 3;
      width: 100%;
      height: auto;
  }

  .derecha img {
      width: 100%;
      height: 600px;
  }

  .botonCont {
      border: 3.5px solid #fff;
      width: fit-content;
      height: fit-content;
      padding: 25px;
      text-decoration: none;
      background-color: #111B23;
      border-radius: 50px;
      font-weight: bold;
      transition: 0.5s;
  }

  .botonCont a {
      color: white;
  }

  .botonCont:hover {
      border: 5px solid #fff;
      transform: scale(1.1);
  }

  /* MIEMBROS */
  .miembros {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: fit-content;
  }

  .miembros-hijo {
      width: 100%;
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
      row-gap: 2000em;
  }

}

/*Inicio formulario*/

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
}

#titulo {
  text-align: center;
  margin: 2em;
  color: rgb(0, 255, 200);
  font-size: 1.2em;
}

.campos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #111717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.icono {
  height: 1.3em;
  width: 1.3em;
  fill: rgb(0, 255, 200);
}

.campo {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: rgb(0, 255, 200);
}

.formulario .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.boton {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: .4s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(0, 0, 0);
}

.boton:hover {
  background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
}

.centro {
  margin-top: 10em;
  margin-bottom: 2em;

  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Bordes {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 22px;
  transition: all .3s;
  max-width: 800px;
}

.Cuerpo {
  border-radius: 0;
  transition: all .2s;
}

.Cuerpo:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.Cuerpo:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.volverInicio img {
  width: 2000px;
}

/* Se arreglan los colores del auto-fill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(0, 255, 200);
  ;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

/*Fin formulario */

@media (min-width: 600px) and (max-width: 1125px) {
  .miembros-hijo {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
  }

  #coordinador {
      grid-area: 1 / 1 / 2 / 2;
  }

  #subCoordinador {
      grid-area: 1 / 2 / 2 / 3;
  }

  #primerIntegrante {
      grid-area: 2 / 1 / 3 / 2;
  }

  #segundoIntegrante {
      grid-area: 2 / 2 / 3 / 3;
  }
}

@media (min-width: 1125px) and (max-width: 1415px) {
  .derecha img {
      height: 709px;
  }
}

@media (max-width: 768px) {
  .servicios {
      background-color: #2AD292;
      padding: 2em;
  }

  .servicios-hijo {
      display: none;
  }

  .servicios-img {
      width: 10%;
      height: 400px;
      border-radius: 10px;
      background-color: #00642f;
  }
}

@media (max-width: 1105px) {
  .servicios-img h3 {
      font-size: 20px;
  }

}