* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #111B23;
    font-family: Arial, Helvetica, sans-serif;
}

/*Inicio de la Barra de Navegacion*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 125px;
    background-color: #2AD292;
    box-shadow: 2px 5px 7px #017c59;
    z-index: 99999;
}

.nombre-logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.logo {
    margin: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 0 15px;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.item:hover {
    color: white;
}

#menu {
    display: none;
}

.menuIcono {
    width: 25px;
}

label {
    cursor: pointer;
    display: none;
}

@media(max-width: 1500px) {
    .menu {
        padding: 30px;
        margin: 0;
    }

    label {
        display: initial;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #169b75;
        display: none;
        border-top: solid 4px #111B23;
    }

    .link-header {
        margin: 0 0 20px 0;
        width: 100%;
    }

    #menu:checked~.menu {
        display: initial;
    }
}

/*Fin de la Barra de Navegacion*/

/*Inicio de Sobre Nosotros*/

.sobreNosotros {
    margin: 10%;
    margin-top: 12%;
    text-align: center;
}

.sobreNosotros h2 {
    -webkit-text-stroke: 1px white;
    color: black;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}

.sobreNosotros-hijo {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #37c294;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 5px rgba(255, 255, 255, 0.548);
    box-shadow: 1px 2px 5px #288a69;

}

.sobreNosotros-hijo p {
    padding: 2px;
    font-size: 27px;
}

/*Fin de Sobre Nosotros*/

.paginas {
    margin: 10%;
    text-align: center;
}

.paginas h2 {
    -webkit-text-stroke: 1px white;
    color: black;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}

.paginas-hijo {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: #37c294;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 5px rgba(255, 255, 255, 0.548);
    box-shadow: 1px 2px 5px #288a69;
}

.links-pagina {
    margin: 30px;
    border: solid 2px black;
    width: 300px;
    height: 400px;
}

/*Fin de Nuestras Paginas*/

/*Inicio de los Miembros del Equipo*/

.miembros {
    margin: 10%;
    text-align: center;
}

.miembros h2 {
    -webkit-text-stroke: 1px white;
    color: black;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}

.miembros-hijo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 100%;
    background-color: #37c294;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 5px rgba(255, 255, 255, 0.548);
    box-shadow: 1px 2px 5px #288a69;
}

#coordinador {
    grid-area: 1 / 1 / 2 / 2;
}

#subcoordinador {
    grid-area: 1 / 2 / 2 / 3;
}

#primerIntegrante {
    grid-area: 2 / 1 / 3 / 2;
}

#segundoIntegrante {
    grid-area: 2 / 2 / 3 / 3;
}

.equipo {
    margin: 5%;
}

.equipo img {
    width: 250px;
    filter: drop-shadow(1px 5px 10px rgb(0, 0, 0));
    margin: 10px;
}

.equipo a {
    text-decoration: underline;
    color: firebrick;
    font-weight: bold;
}

.equipo a:hover {
    color: white;
}

/*Fin de los Miembros del Equipo*/

/*Inicio del Pie De Pagina*/

footer {
    background-color: #2AD292;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -5px 5px #288a69;
}

footer h3 {
    margin-bottom: 10px;
}

.redesSociales {
    display: flex;
    justify-content: center;
}

.redesSociales a {
    margin: 0 10px;
}

.redesSociales img {
    width: 30px;
    height: 30px;
}

/*Fin del Pie De Pagina*/