<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- INICO BOOTSTRAP -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <!-- FIN BOOTSTRAP -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Torneo</title>
</head>

<body>
    <header>
        <div class="icono-menu">
            <img src="../../assets/img/flechaDoble.svg" alt="flechas" id="icono-menu">
        </div>

        <div class="cont-menu active" id="menu">
            <div class="logo">
                <img src="../../assets/img/poseKata1.svg" alt="logo">
                <h3>Torneo</h3> <!-- QUE SE MUESTRE EL NOMBRE DEL TORNEO -->
            </div>

            <ul>
                <li><a href="#" id="torneoBtn">Torneos</a></li>
                <li><a href="#" id="categoriaBtn">Categorias</a></li>
                <li><a href="#" id="participanteBtn">Participantes</a></li>
                <li><a href="#" id="coachBtn">Coaches</a></li>
            </ul>

            <a href="index.php" class="volver">
                <img src="../../assets/img/power.svg" alt="voler">
            </a>
        </div>
    </header>
    <main class="home">
        <!-- TABLA PARTICIPANTES -->

        


    </main>

    <!-- INICO BOOTSTRAP -->
    <script src="../../assets/js/bootstrap.min.js"></script>
    <!-- FIN BOOTSTRAP -->
</body>

</html>