<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleccion Juez</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <img
          src="../../assets/img/logoCUK.png"
          alt="logo C.U.K."
          width="80px"
        />
        <h2 class="nombreCUK">C.U.K. Score</h2>
      </a>
      <h1 id="titulo-juez">Selector de juez</h1>
      <nav class="links">
        <a href="../../index.php">
          <img
            src="../../assets/img/inicio.png"
            alt="boton de inicio"
            width="40em"
          />
        </a>
      </nav>
    </header>
    <main>
      <div class="contenedor-main-jueces">
        <div class="contenedor-jueces">
          <a href="puntajeJuez.html" class="usuarios">Juez 1</a>
          <a href="puntajeJuez.html" class="usuarios">Juez 2</a>
          <a href="puntajeJuez.html" class="usuarios">Juez 3</a>
          <a href="puntajeJuez.html" class="usuarios">Juez 4</a>
          <a href="puntajeJuez.html" class="usuarios">Juez 5</a>
          <a href="puntajeJuez.html" class="usuarios">Juez 6</a>
          <a href="puntajeJuez.html" class="usuarios">Juez 7</a>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
