body {
    background-color: #e8e8e8;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    min-height: 70px;
    background-color: #0356DD;
    justify-content: space-between;
    align-items: center;
}