<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    </style>
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>C.U.K. Score</title>
</head>

<body>
    <!-- INICIO HEADER -->
    <header>
        <div class="miniHeader">
            <div class="logo">
                <img src="assets/img/logoCUK.png" alt="Logo C.U.K.">
                <h2>C.U.K. Score</h2>
            </div>
            <nav class="links">
                <a href="#">
                    <img src="assets/img/atras.png" alt="Boton para ir atras">
                </a>
                <a href="#">
                    <img src="assets/img/ayuda.png" alt="Boton de ayuda">
                </a>
            </nav>
        </div>
    </header>

    <!-- INICIO MAIN -->
    <main>
        <section class="contenedor">
            <div class="miniContenedor1">
                <img src="assets/img/poseKata1.svg" alt="Pose de kata">
                <img src="assets/img/poseKata2.svg" alt="Pose de kata">
            </div>
            <div class="miniContenedor2">
                <div class="usuarios">
                    <a href="views/administrador/admin_login.php" class="miniUsuario">Administración</a>
                    <a href="views/coach/coach_login.php" class="miniUsuario">Coach</a>
                    <a href="views/Juez/loginJuez.html" class="miniUsuario">Juez</a>
                </div>
            </div>
        </section>
    </main>

    <!-- INICIO FOOTER-->
    <footer></footer>
</body>

</html>